<!DOCTYPE html>
<html lang="en">
<head>
<title>PESTICIDES SUPPLY SYSTEM</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tms-0.4.1.js"></script>
<script src="js/slider.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->

<div class="main-bg">
  <style>
   
    h2{
      color: black;
    }
    h3{
      color: black;
    }
    body{
      border: 2px white solid;
      color: black;
      font-size: 20px;
    }
  </style>
  <!-- Header -->
  <header>
    <div class="inner">
      <h1 class="/images/pesticide logo.jpg"><a href="/home" style="color: black; text-decoration: none;">PESTICIDES SUPPLY SYSTEM - Agriculture company</a></h1>
     <nav>
        <ul class="sf-menu"> 
          <li class="current"><a href="/home">home</a></li>
          <li><a href="/products">products</a></li>
         <li><a href="/pricing">pricing</a></li>
          <li><a href="/contacts">contacts</a></li>
          <li><a href="/reviews">reviews</a></li>
          <button><li> <a href="/" style="color: black;"> LOG OUT</a></li></button> 
         </ul>
      </nav>
      <div class="clear"></div>
    </div>
   
</head>
<body>
  <div style="border: 2px black solid; width: 600px; height: 400px; padding: 9px;">
    <h2>MOTTO:WE OFFER QUALITY  PRODUCTS</h2>
    
    <h3>ABOUT US:</h3>
     <li>
      Pesticides are chemical compounds that are used to kill pests, including insects, rodents, fungi and unwanted plants (weeds). Over 1000 different pesticides are used around the world. Pesticides are used in public health to kill vectors of disease, such as mosquitoes, and in agriculture to kill pests that damage crops
      This website offers quality and affordable products to ensure control of pesticides which helps in increasing agricultural yields in the farm and also protecting livestock.
     </li>
    
  <div style="position: absolute; margin-left: 65%; margin-top: -26%;">
    <img src="/images/atrazine.jpg" alt="logo" width="400px" height="400px">
    

    
  </div>
 
</body>
</html>
