<!DOCTYPE html>

<html>
  <title>PESTICIDES SUPPLY SYSTEM</title>
  <head>
    
    <h1>PESTICIDE SUPPLY SYSTEM</h1>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/tms-0.4.1.js"></script>
    <script src="js/slider.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css"> 
    <![endif]-->
    
<style>
  h1{
    color: black;
    font-size: 100px;
  }
  h2 {
  text-align: center;
  color: black;
}

  body {
  background-image: url('public/images/yellow.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  background-color: yellow;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  form{
    
    box-shadow: azure;
    text-decoration-color: yellow;
    border-radius: 9px;
    border: 2px solid green;
    width: 30%;
    display: flex;
    padding: 9px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
    height: 200px;
  }
  #fname{
  margin-left: 7%;
  }
.lower, .upper{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
label{
  margin-left: -6%;
}
</style>
     </head>
              <h2>WELCOME</h2>
              
          <body>  
                 
           <form action="/login" method="POST" class="loginpage">
            <div class="upper" style="color: black;">
              <label for="email">email:</label>
              <input type="email" id="email" name="email" required><br><br></div>
            <div class="lower" style="color: black;">
              <label for="password">password:</label>
              <input type="password" name="password" id="myInput" required>
              <input type="checkbox" onclick="myFunction()"><br><br>
</div>
             <button type="submit"  >LOGIN</button><br>
             <p><a href="/createaccount" style="background-color: black; text-decoration: none;" >createaccount</a></p>

             <p><a href="/admin" style="background-color: black; text-decoration: none; " >admin</a></p>
            <script>
            function myFunction() {
              var x = document.getElementById("myInput");
              if (x.type === "password") {
              x.type = "text";
               } else {
                x.type = "password";
              }
              


                     
} 

</script>
        </form>
      
       
       
        
    </body>
</html>